<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客首页</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/m.common.css">
</head>
<body>
<header class="w-100  fixed-top ">
    <!--    导航栏-->
    <div class="container-xl _home-navigator">
    </div>
</header>
<article class="container-xl _after_header">
    <div class="row flex-row-reverse">
        <!-- 文章内容显示模块-->
        <article class="col-md-9 align-self-start  p-0 pt-1 pb-1  sticky-top">
            <div class="_article-list"></div>
            <!--    底部备案信息-->
            <div class="_website-record"></div>
        </article>
        <!--    左侧面板-->
        <aside class="col-md-3 align-self-start p-0  pt-1 pb-1  sticky-top">
            <div class="_aside-panels"></div>
        </aside>
    </div>
</article>
<script type="application/javascript" src="/js/jquery-3.5.1.min.js"></script>
<script type="application/javascript" src="/js/showdown.min.js"></script>
<script type="application/javascript" src="/js/bootstrap.bundle.min.js"></script>
<script type="application/javascript" src="/js/bootstrap.min.js"></script>
<script type="application/javascript" src="/js/m.common.js"></script>
<script>
    //加载导航栏
    $('._home-navigator').load('/html/_home-navigator.html');
    //加载文章列表模块
    $('._article-list').load('/html/_article-list.html');
</script>
</body>
</html>