body {
    background-color: rgb(245, 246, 247);
}

header {
    height: 50px;
    position: fixed;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 1px 1px 1px rgb(228, 228, 228);
}

._after_header {
    padding-top: 51px;
}

a.d-block {
    text-decoration: none;
    color: black;
}

a.d-block:hover {
    color: black;
}

a.d-inline-block {
    text-decoration: none;
    color: black;
}

a.d-inline-block:hover {
    color: black;
}